.envolve-ods{
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  color: red;
  margin-top: 12%;
  display: flex;
  flex-direction: row;
}
.ods-grande{
  background-repeat: no-repeat;
  background-size: 65% 65%;
  background-position: center;
  width: 22vw;
  height: 22vw;
  border: 20px solid transparent;
  border-radius: 70px;
}
.angulo-1{
  background-color: #E7233B;
  transform: rotate(-4deg);
  background-image: url("../../assets/pngs/icons/1.png");
}
.angulo-2{
  background-color: #DDA939;
  transform: rotate(-4deg);
  background-image: url("../../assets/pngs/icons/2.png");
}
.angulo-3{
  background-color: #4AA139;
  transform: rotate(-4deg);
  background-image: url("../../assets/pngs/icons/3.png");
}
.angulo-4{
  background-color: #C21B2D;
  transform: rotate(-4deg);
  background-image: url("../../assets/pngs/icons/4.png");
}
.angulo-5{
  background-color: #FD3921;
  transform: rotate(-4deg);
  background-image: url("../../assets/pngs/icons/5.png");
}
.angulo-6{
  background-color: #21BFE2;
  transform: rotate(-4deg);
  background-image: url("../../assets/pngs/icons/6.png");
}
.angulo-7{
  background-color: #F5C000;
  transform: rotate(-4deg);
  background-image: url("../../assets/pngs/icons/7.png");
}
.angulo-8{
  background-color: #A21943;
  transform: rotate(-4deg);
  background-image: url("../../assets/pngs/icons/8.png");
}
.angulo-9{
  background-color: #FC6924;
  transform: rotate(-4deg);
  background-image: url("../../assets/pngs/icons/9.png");
}
.angulo-10{
  background-color: #DB1465;
  transform: rotate(-4deg);
  background-image: url("../../assets/pngs/icons/10.png");
}
.angulo-11{
  background-color: #FD9D24;
  transform: rotate(-4deg);
  background-image: url("../../assets/pngs/icons/11.png");
}
.angulo-12{
  background-color: #BE8C2D;
  transform: rotate(-4deg);
  background-image: url("../../assets/pngs/icons/12.png");
}
.angulo-13{
  background-color: #3D7F42;
  transform: rotate(-4deg);
  background-image: url("../../assets/pngs/icons/13.png");
}
.angulo-14{
  background-color: #009ADA;
  transform: rotate(-4deg);
  background-image: url("../../assets/pngs/icons/14.png");
}
.angulo-15{
  background-color: #55C12D;
  transform: rotate(-4deg);
  background-image: url("../../assets/pngs/icons/15.png");
}
.angulo-16{
  background-color: #026A9F;
  transform: rotate(-4deg);
  background-image: url("../../assets/pngs/icons/16.png");
}
.angulo-17{
  background-color: #1B496B;
  transform: rotate(-4deg);
  background-image: url("../../assets/pngs/icons/17.png");
}
.texto-ods{
  width: 50%;
  margin-left: 150px;
}
.texto-ods h1{
  font-size: 62px;
}
.texto-color-1{
  color:#E32738
}
.texto-color-2{
  color:#DDA939
}
.texto-color-3{
  color:#4AA139
}
.texto-color-4{
  color:#C21B2D
}
.texto-color-5{
  color:#FD3921
}
.texto-color-6{
  color:#21BFE2
}
.texto-color-7{
  color:#F5C000
}
.texto-color-8{
  color:#A21943
}
.texto-color-9{
  color:#FC6924
}
.texto-color-10{
  color:#DB1465
}
.texto-color-11{
  color:#FD9D24
}
.texto-color-12{
  color:#BE8C2D
}
.texto-color-13{
  color:#3D7F42
}
.texto-color-14{
  color:#009ADA
}
.texto-color-15{
  color:#55C12D
}
.texto-color-16{
  color:#026A9F
}
.texto-color-17{
  color:#1B496B
}
.texto-ods p{
  color: #000000;
  font-size: 24px;
  font-weight: 500px;
  margin-top: 20px;
  text-align: justify;
}
.envolve-button-ods{
  display: flex;
  justify-content: flex-end;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}
.button-ods{
  background-color: white;
  border-radius: 20px;
  padding: 13px;
  font-size: 30px;
  font-weight: 600;
  align-items: center;
  margin-top: 40px;
  margin-left: 3%;
  margin-bottom: 20px;
  white-space: nowrap;
}
.button-ods:focus{
  outline: none;
  
}
.button-extras{
  background-color: white;
  border-radius: 20px;
  padding: 13px;
  font-size: 30px;
  font-weight: 600;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 20px;
  white-space: nowrap;
}
.button-color-1{
  color: #E32738;
  border: 3px solid #E32738;
}
.button-color-2{
  color: #DDA939;
  border: 3px solid #DDA939;
}
.button-color-3{
  color: #4AA139;
  border: 3px solid #4AA139;
}
.button-color-4{
  color: #C21B2D;
  border: 3px solid #C21B2D;
}
.button-color-5{
  color: #FD3921;
  border: 3px solid #FD3921;
}
.button-color-6{
  color: #21BFE2;
  border: 3px solid #21BFE2;
}
.button-color-7{
  color: #F5C000;
  border: 3px solid #F5C000;
}
.button-color-8{
  color: #A21943;
  border: 3px solid #A21943;
}
.button-color-9{
  color: #FC6924;
  border: 3px solid #FC6924;
}
.button-color-10{
  color: #DB1465;
  border: 3px solid #DB1465;
}
.button-color-11{
  color: #FD9D24;
  border: 3px solid #FD9D24;
}
.button-color-12{
  color: #BE8C2D;
  border: 3px solid #BE8C2D;
}
.button-color-13{
  color: #3D7F42;
  border: 3px solid #3D7F42;
}
.button-color-14{
  color: #009ADA;
  border: 3px solid #009ADA;
}
.button-color-15{
  color: #55C12D;
  border: 3px solid #55C12D;
}
.button-color-16{
  color: #026A9F;
  border: 3px solid #026A9F;
}
.button-color-17{
  color: #1B496B;
  border: 3px solid #1B496B;
}
.button-color-1:hover{
  background-color: #E32738;
  color: white;
}
.button-color-2:hover{
  background-color: #DDA939;
  color: white;
}
.button-color-3:hover{
  background-color: #4AA139;
  color: white;
}
.button-color-4:hover{
  background-color: #C21B2D;
  color: white;
}
.button-color-5:hover{
  background-color: #FD3921;
  color: white;
}
.button-color-6:hover{
  background-color: #21BFE2;
  color: white;
}
.button-color-7:hover{
  background-color: #F5C000;
  color: white;
}
.button-color-8:hover{
  background-color: #A21943;
  color: white;
}
.button-color-9:hover{
  background-color: #FC6924;
  color: white;
}
.button-color-10:hover{
  background-color: #DB1465;
  color: white;
}
.button-color-11:hover{
  background-color: #FD9D24;
  color: white;
}
.button-color-12:hover{
  background-color: #BE8C2D;
  color: white;
}
.button-color-13:hover{
  background-color: #3D7F42;
  color: white;
}
.button-color-14:hover{
  background-color: #009ADA;
  color: white;
}
.button-color-15:hover{
  background-color: #55C12D;
  color: white;
}
.button-color-16:hover{
  background-color: #026A9F;
  color: white;
}
.button-color-17:hover{
  background-color: #1B496B;
  color: white;
}
.wrap-dialog-header{
  display: flex;
  flex-direction: row;
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
}
.dialog-title{
  font-size: 30px;
  font-weight: 600;
  padding: 10px;
}
.dialog-text{
  padding: 20px;
}
.dialog-text h1{
  color: black;
  font-size: 18px;  
}
.dialog-text ul li{
  color: black;
  font-size: 16px;
  font-weight: 500;
}
.img-text{
  background-color: #E32738;
  padding: 10px;
  border: 2px;
  border-radius: 10px;
}
.dialog-footer{
  background-image: url('../../assets/resize-icons/rodape-bar.png');
  width: 100%;
  background-size: contain;
  background-position: bottom;
}
.dialog-footer-number{
  align-items: center;
  width: 5.88%;
  height: 40px;
  position: relative;
  margin-bottom: 15px;
}
.dialog-footer-number p{
    margin: 0;
    position: absolute;
    top: 25%;
    left: 25%;  
}
.test-fix{
  bottom:0;
  position: absolute;
  width: 100%;
}
@media(max-width:900px){
  .envolve-ods{
    margin-left: 10%;
    margin-right: 10%;
    width: 90%;
    color: red;
    margin-top: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .ods-grande{
    background-repeat: no-repeat;
    background-size: 65% 65%;
    background-position: center;
    width: 60vw;
    height: 60vw;
    border: 20px solid transparent;
    border-radius: 50px;
    margin-top: 30px;
  }
  .texto-ods{
    width: 80%;
    margin-left: 0px;
  }
  .texto-ods h1{
    margin-top: 40px;
    font-size: 30px;
    max-width: 300px;
  }
  .envolve-button-ods{
    display: flex;
    justify-content: flex-end;
    width: 80%;
    margin-left: 26.5%;
    margin-right: 10%;
  }
}