footer{
  background: #FC6924;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.contato-span{
  display: block;
  color: #ffffff;
  font-size: 30px;
  padding-bottom: 10px;  
}
.divisao{
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
}
.Logo-17{
  margin-top: 50px;
  width: 50%; 
  display: inline-block;
  align-items: center;
  vertical-align: middle;
}
.two-side{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  text-align: end;
  margin-top: 50px;
  max-width: 70%;
}
.role-instituicao{
  justify-content: space-between;
  text-align: center;
  display: block;
  font-weight: 500px;
  color: #ffffff;
  font-size: 30px;
}
.realizacao{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.apoiadores{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.parceiros{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.img-17{
  width: 100%;
}
.img-bairro{
  margin-top: 20px;
  width: 35%;
  margin-bottom: 20px;
}
.img-fapesc{
  width: 20%;
  margin-left: 5%; 
}
.img-satc{
  width: 70%;
}
.img-ODS{
  width: 60%;
}
@media (max-width: 1200px){
  footer{
    height: 100%;
  }
  .two-side{
    flex-direction: column;
    width: 33vh;
  }
}
@media (max-width: 800px){
  footer{
    height: 100%;
  }
}
