body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@media (max-width: 768px) {
	body{
		display: flex;
	}
	/* .baloes{
		display: flex;
		height: 1250px;
		width: 100%;
		flex-direction: column;
	} */
	.bonecos-balao{
    display: flex;
    width: 750px;
    height: 583px;
    margin: 0 auto;
    margin-top: 10px;	
    position: absolute;
    align-items: center;
    overflow: visible;
    z-index: 2;    
  }
	.Jogos{
		width: 92%;
	}
	.Jogo{
		height: 190px;
		width: 190px;
	}
	/* .divisao{
		height: 600px;
		align-items: center;
	} */
	.two-side{
		display: flex;
		text-align: center;
	}
	.img-17{
		width: 100%;
	}
	.img-fapesc{
		width: 50%;
	}
	.img-bairro{
		width: 80%;
	}
	.img-ODS{
		width: 100%;
	}
	.img-satc{
		margin-top: 20px;
		width: 110%;
	}

}